* {
  box-sizing: border-box;
}

:root {
  --column-count: 12;
  --gutter-size: 1.5rem;
  --padding-value: calc(var(--gutter-size) / 2);
}

.container {
  width:100%;
  padding-left: var(--padding-value);
  padding-right: var(--padding-value);
  margin-left: auto;
  margin-right: auto;
}

.row {
  display:flex;
  flex-wrap: wrap;
}

.row > * {
  /* padding-left:;
  padding-right:; */
}

.col {
  /* flex: 1 0 auto; */
}

.col-1 {
  flex:0 0 auto;
  width: calc(100% / var(--column-count) * 1);
}

.col-2 {
  flex: 0 0 auto;
  width: calc(100% / var(--column-count) * 2);
}

